# exclusion du contenu des dossiers de sauvegardes xwikisauve et apachesauve
xwikisauve/**
apachesauve/**
*.cnf
*.log
xwikirestaure/xwiki_ssh_key
xwikirestaure/xwiki_ssh_key.pub
xwikirestaure/terraform.tfstate
xwikirestaure/terraform.tfstate.backup

